{% extends 'base.html' %}

{% block header %}
  {% block title %}Create an article{% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
    <div class="bg-white">
        <div class="flex flex-row mb-5 mt-5">
        <label for="name" class="m-1 basis-40 font-sans text-s">Name</label>
        <input name="name" id="name" required class="basis-40 m-1 border-2 border-red-600 active:border-red-700">
        </div>
        <div class="flex flex-row mb-5 mt-5">
        <label for="order" class="m-1 basis-40 text-s">Order</label>
        <input name="order" id="order" requried class="basis-40 m-1 border-2 border-red-600 active:border-red-700">
      </div>
      </div>
    <input type="submit" value="Create" class="hover:bg-gray-100 m-1 border-2 border-gray-300">
  </form>
  
{% endblock %}