{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Display State{% endblock %}</h1>
{% endblock %}

{% block content %}
    
    <article class="post">
      <header>
        <div>
          <h1>Matrix</h1>
        </div>
      </header>
      <form method="post" name="">
      {% for i in range(cols) %}
      <div >
        {% for j in range(rows) %}
        <input class="entry" name="value{{i*3+j}}" value={{ matrix[i][j] }}>
        {% endfor %}
      </div>
    
      {% endfor %}
      <input class="invis" type="submit">
    </form>
    <div> {{ comment }} </div>
    </article>
    
    
    
      <hr>
    
  
{% endblock %}