{% extends 'base.html' %}

{% block header %}
  <div class="text-4xl font-sans border-b-2 border-red-600 flex w-65 mb-2 justify-center">{% block title %}Existing Articles{% endblock %}</div>
{% endblock %}

{% block content %}
    {% for article in articles %}
    
    <a class="m-0 border-0" href={{'/read/'}}{{(article['id'])}}>
       {% if loop.last %}
       <div class="hover:bg-red-300 bg-white columns-2xs bg-blue-200 p-2 m-0 border-l-1 border-r-1 border-t-1 border-b-1 border-red-600">
          
        Article {{article["id"]}} : {{article["name"]}}
      </div>
    </a>
       {% else %}
       <div class="hover:bg-red-300 bg-white columns-2xs bg-blue-200 p-2 m-0 border-l-1 border-r-1 border-t-1 border-red-600">
          
          Article {{article["id"]}} : {{article["name"]}}
        </div>
      </a>
    {% endif %}
    {%endfor %}

    <div class="flex flex-row">

    </div>

{% endblock %}