{% extends 'base.html' %}

{% block header %}
  <h1 class="text-xl">{% block title %}Update Matrix {{id}} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div>
      <div class="flex flex-row">
        <label for="rows" name="rows" class="basis-64">Rows</label>
        <input name="rows" id="rows" value={{rows}} required class="basis-64">
      </div>
      <div class="flex flex-row">  
        <label for="cols" name="cols" class="basis-64">Cols</label>
        <input name="cols" id="cols" value={{cols}} required class="basis-64">
      </div>

        <label name="data">Data</label>
        <div class="grid grid-flow-col grid-rows-{{rows}}">
        {% for i in range(rows) %}
          <div class="row-span1">
           {% for j in range(cols) %}
            <input name="data{{j + i *cols}}" id="data{{j + i * cols}}"
             value={{data[i][j]}} required class="row-span1 border-amber-100 border-solid border-2">
           {% endfor %}
          </div>
        {% endfor %}
      </div>
        
    </div>
    <input type="submit" value="Create" class="row-span1 w-xs bg-blue-500 text-white hover:text-gray-300">
  </form>
{% endblock %}