<script>
  var i = 0;
  var columns = 0;
  function addComment() {
    i += 1;
    let newCommentLabel = document.createElement("label");
    newCommentLabel.innerHTML = "Comment "+i;
    let newComment = document.createElement("input");
    
    
    let commentContainer = document.getElementById("commentContainer");
    newCommentLabel.classList = ["basis-10 m-1 flex-row-span-1"+ " flex-row-start-"+i]
    newComment.classList = ["basis-10 m-1 border-2 border-red-600 flex-row-span-1 flex-row-start-"+i]
    newComment.name = "comment"+i;
    newComment.id = "comment"+i;
    commentContainer.appendChild(newCommentLabel);
    commentContainer.appendChild(newComment);
    
  }

  function addLabelCss(label) {
    label.classList.add("m-1");
    label.classList.add("w-100");
    
  }

  function addInputCss(input) {
    input.classList.add("w-100");
    input.classList.add("m-1");
    input.classList.add("border-2");
    input.classList.add("border-red-600");
  }

  function addMatrix() {
    console.log(columns);
    columns += 1;
    var container = document.getElementById("stateContainer");

    var matrixContainer = document.createElement("div");
    matrixContainer.id = "matrixContainer";
    container.appendChild(matrixContainer);

   


    

    var nameLabel = document.createElement("label");
    var nameInput = document.createElement("input");

    addLabelCss(nameLabel)
    addInputCss(nameInput);
    
    container.appendChild(nameLabel);
    container.appendChild(nameInput);
    nameLabel.innerHTML = "Name"

    var colInput = document.createElement("input");
    var colLabel = document.createElement("label");
    var rowInput = document.createElement("input");
    var rowLabel = document.createElement("label");

    addLabelCss(colLabel);
    addInputCss(colInput);
    addLabelCss(rowLabel);
    addInputCss(rowInput);

    colLabel.innerHTML = "Columns";
    rowLabel.innerHTML = "Rows";

    colInput.id = "cols"+i;
    rowInput.id = "rows"+i;
    colInput.oninput = () => {handleMatrix(i)};
    rowInput.oninput = () => {handleMatrix(i)};


    container.appendChild(colLabel);
    container.appendChild(colInput);
    
    
    container.appendChild(rowLabel);
    container.appendChild(rowInput);

    var dataContainer = document.createElement("div");
    var dataContainerNode = document.createElement("div");
    dataContainer.id = "dataContainer";
    dataContainerNode.id = "dataContainerNode";
    container.appendChild(dataContainerNode);

    var commentContainer = document.createElement("div");
    commentContainer.id = "commentContainer";
    container.appendChild(commentContainer);

    var addCommentButton = document.createElement("div");
    addCommentButton.style = "background-image:url(http://127.0.0.1:5000/static/add.png);width:40px;height:40px;background-size:cover;display:inline-block";
    addCommentButton.onclick = addComment;
    container.appendChild(addCommentButton);

    
  }

function handleMatrix(i) {

console.log("called");
console.log(i);
let inputForm = document.getElementById("dataContainerNode");
let inputData = document.getElementById("dataContainer");
if(inputData !== null) {
  inputData.remove();
}


let rows = document.getElementById("rows"+i).value;
let cols = document.getElementById("cols"+i).value;
let dataContainer = document.createElement('div');
dataContainer.id = "dataContainer";
inputForm.appendChild(dataContainer);

if(rows===""||cols==="") {
  return
}

let currentRow = null;
let currentCell = null;
console.log(rows);

for(var i = 0; i < rows; i++) {
  currentRow = document.createElement('div');
  currentRow.classList.add("flex");
  currentRow.classList.add("flex-rows");
  currentRow.classList.add("mb-5");
  currentRow.classList.add("mt-5");
  dataContainer.appendChild(currentRow);
  for(var j = 0; j < cols; j++) {
    currentCell = document.createElement('input');
    currentCell.classList.add("row-span1")
    currentCell.classList.add("border-amber-100")
    currentCell.classList.add("border-solid")
    currentCell.classList.add("border-2")
    currentCell.id = "data"+(j+i*cols)
    currentCell.name = "data"+(j+i*cols)
    currentRow.appendChild(currentCell);
    
  }
}

}

</script>

{% extends 'base.html' %}

{% block header %}
  {% block title %}Create a state{% endblock %}
{% endblock %}



{% block content %}
  <span>Matrix</span>
  <div id="addButtonMatrix" onclick="addMatrix()" style="background-image:url(http://127.0.0.1:5000/static/add.png);width:40px;height:40px;background-size:cover;display:inline-block"></div>
  <span>Chart</span>
  <div id="addButtonChart" style="background-image:url(http://127.0.0.1:5000/static/add.png);width:40px;height:40px;background-size:cover;display:inline-block"></div>
  <form method="post" id="inputForm">
  <div id="stateContainer" class="flex flex-col mb-5 mt-5 w-1/8"></div>

  <input type="submit" value="Create" class="hover:bg-gray-100 m-1 border-2 border-gray-300">
</form>
  <!--<form method="post">
    <div class="bg-white">
        <div class="flex flex-row mt-5 mb-5">
          <label for="matrix_id" class="m-1 basis-40">Id</label>
          <input name="matrix_id" id="matrix_id" class="basis-40 m-1 border-2 border-red-600" required>
        </div>
        <div id="commentContainer" class="flex flex-col mt-5 mb-5">
          <label for="comment" class="m-1 basis-10">Comments</label>
          <input name="comment0" id="comment0" class="basis-10 m-1 border-2 border-red-600" required>
        
          
      </div>
      <button class="flex-row min-w-10 min-h-2 h-2 border-red-600 border-2 bg-gray-100" onclick="addComment()">Add</button>
      <div class="flex flex-row mt-5 mb-5">
        <label for="name" class="m-1 basis-40">Name</label>
        <input name="name" id="name" class="basis-16 m-1 border-2 border-red-600" required>
      </div>
      <div class="flex flex-row mt-5 mb-5">
        <label for="col_state" class="m-1 basis-40">Columns</label>
        <input name="col_state" id="col_state" class="basis-16 m-1 border-2 border-red-600" required>
      </div>
    </div>
    <input type="submit" value="Create" class="hover:bg-gray-100 m-1 border-2 border-gray-300">
  </form>-->
{% endblock %}