<script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
<script>
  
  var obj_num = 0;
  var columns = 0;
  

  function addLabelCss(label) {
    label.classList.add("m-1");
    label.classList.add("w-100");
    
  }

  function addInputCss(input) {
    input.classList.add("w-100");
    input.classList.add("m-1");
    input.classList.add("border-2");
    input.classList.add("border-red-600");
  }

  function appendInput(id, local_id) {
    var input = document.createElement("input");
    var container = document.getElementById("stateContainer");
    input.id = id+"_"+local_id;
    input.oninput = () => {handleGraph(local_id)}
    addInputCss(input)
    container.appendChild(input);
  }

  function appendLabel(id, text, local_id) {
    var label = document.createElement("label");
    var container = document.getElementById("stateContainer");
    
    label.innerHTML = text
    label.id = id+"_"+local_id;
    addLabelCss(label)
    container.appendChild(label)
  }

  function processInputGraph(local_id) {
    
    var degree = document.getElementById("degreeInput_"+local_id)
    var coefficient = document.getElementById("coefficientInput_"+local_id)
    var maxX = document.getElementById("maxXInput_"+local_id)
    var minX = document.getElementById("minXInput_"+local_id)
    var maxY = document.getElementById("maxYInput_"+local_id)
    var minY = document.getElementById("minYInput_"+local_id)

    graph_processed = {
            "data" : {"grad": degree.value,
                      "coeffizienten" : coefficient.value.split(",")},
            "option" : {
                "xAxis": {
                "name": "x",
                "max": maxX.value,
                "min": minX.value
                },
                "yAxis": {
                "name": "y",
                "max": maxY.value,
                "min": minY.value,
                },
                "series": [
                {
                    "showSymbol": false,
                    "type": "line"
                }
                ]
            }
        }
        return graph_processed;
  }

  function handleGraph(local_id) {


    var chart = echarts.init(document.getElementById("chartContainer_"+local_id));
    var graphData = processInputGraph(local_id) //JSON.parse(
    console.log(graphData.data.coeffizienten[0])

    var option = graphData.option;

    option.series[0].data = setData();

    chart.setOption(option);

  function setData() {
    var results = [];
    for (let i = option.xAxis.min; i <= option.xAxis.max; i += 0.1) {
      results.push([i, func(i)]);
    }
    console.log(results)
    return results;
  }

  function func(x) {
    var result = 0;

    for (let i = 0; i <= Number(graphData.data.grad); i++) {
      result += Number(graphData.data.coeffizienten[i]) * x ** (Number(graphData.data.grad)-i);
    }

    return result
  }

  graphContainer.appendChild(graph)
}

  

  function addGraph() {
    var local_id = obj_num
    
    var obj_num_html = document.getElementById("obj_num")
    obj_num_html.value = obj_num
  
    var container = document.getElementById("stateContainer");

    var header = document.createElement("h2");
    header.innerHTML = "Graph "+obj_num;
    container.appendChild(header);

    var chartContainer = document.createElement("div");
    chartContainer.id = "chartContainer_"+obj_num;
    container.appendChild(chartContainer);

    var Labels = []
    var Inputs = []

    appendLabel("maxXLabel", "Max X", local_id)    
    appendInput("maxXInput",local_id)

    appendLabel("minXLabel", "Min X",local_id)    
    appendInput("minXInput",local_id)

    appendLabel("maxYLabel", "Max Y",local_id)    
    appendInput("maxYInput",local_id)

    appendLabel("minYLabel", "Min Y",local_id)    
    appendInput("minYInput",local_id)

    appendLabel("minYLabel", "Min Y",local_id)    
    appendInput("minYInput",local_id)

    appendLabel("degreeLabel", "Degree",local_id)    
    appendInput("degreeInput",local_id)

    appendLabel("coefficientLabel", "Coefficient",local_id)    
    appendInput("coefficientInput",local_id)

 

    //var commentContainer = document.createElement("div");
    //commentContainer.id = "commentContainer_"+obj_num;
    //container.appendChild(commentContainer);

    var commentLabel = document.createElement("label");
    var commentInput = document.createElement("input");
    addLabelCss(commentLabel);
    addInputCss(commentInput);
    commentLabel.innerHTML = "Comment";
    container.appendChild(commentLabel)
    container.appendChild(commentInput)

    //var addCommentButton = document.createElement("div");
    //addCommentButton.style = "background-image:url(http://127.0.0.1:5000/static/add.png);width:40px;height:40px;background-size:cover;display:inline-block";
    //addCommentButton.onclick = () => {addComment(obj_num)};
    //container.appendChild(addCommentButton);
    
    obj_num += 1
  }

  function addMatrix() {
    var local_id = obj_num
    console.log(columns);
    
    var obj_num_html = document.getElementById("obj_num")
    obj_num_html.value = obj_num
  
    var container = document.getElementById("stateContainer");

    var header = document.createElement("h2");
    header.innerHTML = "Matrix "+obj_num;
    container.appendChild(header);

    var matrixContainer = document.createElement("div");
    matrixContainer.id = "matrixContainer_"+obj_num;
    container.appendChild(matrixContainer);

   
    

    


    var colInput = document.createElement("input");
    var colLabel = document.createElement("label");
    var rowInput = document.createElement("input");
    var rowLabel = document.createElement("label");

    addLabelCss(colLabel);
    addInputCss(colInput);
    addLabelCss(rowLabel);
    addInputCss(rowInput);

    colLabel.innerHTML = "Columns";
    rowLabel.innerHTML = "Rows";

    colInput.id = "cols_"+obj_num;
    colInput.name = "cols_"+obj_num;
    rowInput.id = "rows_"+obj_num;
    rowInput.name = "rows_"+obj_num;
    colInput.oninput = () => {handleMatrix(local_id)};
    rowInput.oninput = () => {handleMatrix(local_id)};


    container.appendChild(colLabel);
    container.appendChild(colInput);
    
    
    container.appendChild(rowLabel);
    container.appendChild(rowInput);

    var dataContainer = document.createElement("div");
    var dataContainerNode = document.createElement("div");
    dataContainer.id = "dataContainer_"+obj_num;
    dataContainerNode.id = "dataContainerNode_"+obj_num;
    container.appendChild(dataContainerNode);

    //var commentContainer = document.createElement("div");
    //commentContainer.id = "commentContainer_"+obj_num;
    //container.appendChild(commentContainer);

    var commentLabel = document.createElement("label");
    var commentInput = document.createElement("input");
    addLabelCss(commentLabel);
    addInputCss(commentInput);
    commentLabel.innerHTML = "Comment";
    container.appendChild(commentLabel)
    container.appendChild(commentInput)

    //var addCommentButton = document.createElement("div");
    //addCommentButton.style = "background-image:url(http://127.0.0.1:5000/static/add.png);width:40px;height:40px;background-size:cover;display:inline-block";
    //addCommentButton.onclick = () => {addComment(obj_num)};
    //container.appendChild(addCommentButton);
    
    obj_num += 1
  }

function handleMatrix(id) {

console.log("called");
console.log(id);
let inputForm = document.getElementById("dataContainerNode_"+id);
let inputData = document.getElementById("dataContainer_"+id);
if(inputData !== null) {
  inputData.remove();
}


let rows = document.getElementById("rows_"+id).value;
let cols = document.getElementById("cols_"+id).value;
let dataContainer = document.createElement('div');
dataContainer.id = "dataContainer_"+id;
inputForm.appendChild(dataContainer);

if(rows===""||cols==="") {
  return
}

let currentRow = null;
let currentCell = null;
console.log(rows);

for(var i = 0; i < rows; i++) {
  currentRow = document.createElement('div');
  currentRow.classList.add("flex");
  currentRow.classList.add("flex-rows");
  currentRow.classList.add("mb-5");
  currentRow.classList.add("mt-5");
  dataContainer.appendChild(currentRow);
  for(var j = 0; j < cols; j++) {
    currentCell = document.createElement('input');
    currentCell.classList.add("row-span1")
    currentCell.classList.add("border-amber-100")
    currentCell.classList.add("border-solid")
    currentCell.classList.add("border-2")
    currentCell.id = "data_"+id + "_" + (j+i*cols)
    currentCell.name = "data_"+id+"_"+(j+i*cols)
    currentRow.appendChild(currentCell);
    
  }
}

}

</script>

{% extends 'base.html' %}

{% block header %}
  {% block title %}Create a state{% endblock %}
{% endblock %}



{% block content %}
  <span>Matrix</span>
  <div id="addButtonMatrix" onclick="addMatrix()" style="background-image:url(http://127.0.0.1:5000/static/add.png);width:40px;height:40px;background-size:cover;display:inline-block"></div>
  <span>Chart</span>
  <div id="addButtonChart" onclick="addGraph()" style="background-image:url(http://127.0.0.1:5000/static/add.png);width:40px;height:40px;background-size:cover;display:inline-block"></div>
  <form method="post" id="inputForm">
  <label for="name">Name</label>
  <input name="obj_num" id="obj_num"  style="display:none" value="0"></input>
  <input name="name" id="name" class="w-100 m-1 border-2 border-red-600"></input>
  <div id="stateContainer" class="flex flex-col mb-5 mt-5 w-1/8"></div>

  <input type="submit" value="Create" class="hover:bg-gray-100 m-1 border-2 border-gray-300">
</form>
  <!--<form method="post">
    <div class="bg-white">
        <div class="flex flex-row mt-5 mb-5">
          <label for="matrix_id" class="m-1 basis-40">Id</label>
          <input name="matrix_id" id="matrix_id" class="basis-40 m-1 border-2 border-red-600" required>
        </div>
        <div id="commentContainer" class="flex flex-col mt-5 mb-5">
          <label for="comment" class="m-1 basis-10">Comments</label>
          <input name="comment0" id="comment0" class="basis-10 m-1 border-2 border-red-600" required>
        
          
      </div>
      <button class="flex-row min-w-10 min-h-2 h-2 border-red-600 border-2 bg-gray-100" onclick="addComment()">Add</button>
      <div class="flex flex-row mt-5 mb-5">
        <label for="name" class="m-1 basis-40">Name</label>
        <input name="name" id="name" class="basis-16 m-1 border-2 border-red-600" required>
      </div>
      <div class="flex flex-row mt-5 mb-5">
        <label for="col_state" class="m-1 basis-40">Columns</label>
        <input name="col_state" id="col_state" class="basis-16 m-1 border-2 border-red-600" required>
      </div>
    </div>
    <input type="submit" value="Create" class="hover:bg-gray-100 m-1 border-2 border-gray-300">
  </form>-->
{% endblock %}