<script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
<script>
function processInputGraph(graph) {
    
    var degree = graph.degree
    var coefficient = graph.coefficient
    var maxX = graph.maxX
    var minX = graph.minY
    var maxY = graph.maxY
    var minY = graph.minY

    console.log(coefficient)
    console.log(typeof(coefficient))

    if(degree !== "" &&
       coefficient !== "" &&
       maxX !== "" && 
       minX !== "" &&
       maxY !== "" &&
       minY !== "") {
        graph_processed = {
            "data" : {"grad": degree,
                      "coefficient" : coefficient.split(",")},
            "option" : {
                "xAxis": {
                "name": "x",
                "max": maxX,
                "min": minX
                },
                "yAxis": {
                "name": "y",
                "max": maxY,
                "min": minY,
                },
                "series": [
                {
                    "showSymbol": false,
                    "type": "line"
                }
                ]
            }
        }
        console.log(graph_processed)
        return graph_processed;
       } else {
        return false;
       }
    

    
  }

function handleGraph(graph) {
  graph = JSON.parse(graph)
 
  var chartContainer = document.getElementById("chartContainer_"+graph.graphNumber)
  var chart = echarts.getInstanceByDom(chartContainer)
  if(chart) {
    echarts.dispose(chart)
  }
  
  var graphData = processInputGraph(graph) //JSON.parse(
  if(graphData) {
  
    var chart = echarts.init(document.getElementById("chartContainer_"+graph.graphNumber));


    var option = graphData.option;

    option.series[0].data = setData();
    console.log(option)
    chart.setOption(option);
  } 
  

function setData() {
  var results = [];
  for (let i = Number(option.xAxis.min); i <= Number(option.xAxis.max); i += 0.1) {
    results.push([i, func(i)]);
  }

  return results;
}

function func(x) {
  
  
  var result = 0.0;
  x = Number(x)
  for (let i = 0; i <= Number(graphData.data.grad); i++) {
   
    result += Number(graphData.data.coefficient[i]) * Number(x) ** (Number(graphData.data.grad)-i);
    console.log(result)
  }
  
  return Number(result)
  
}

//chartContainer.appendChild(chart)
}
</script>

{% extends 'base.html' %}

{% block header %}
  {% block title %}{{ session["name"] }}{% endblock %}
{% endblock %}

{% block content %}
    
<article class="w-full">
  <header>
    <div>
      <h1>Step {{session["current"] + 1}} </h1>
    </div>
  </header>
  <div id="MatChaContainer" class="h-2/3 grid grid-cols-{{order | length}}">
  {% set ns1 = namespace(matrix_counter = 0) %}
  {% set ns2 = namespace(graphs_counter = 0) %}
  {% for obj_type in order %}
    {% if obj_type == 'M' %}
        <div class="col-start-{{ns1.matrix_counter + ns2.graphs_counter}} grid grid-cols-{{returnMatrices[ns1.matrix_counter]._cols}} grid-rows-{{returnMatrices[ns1.matrix_counter]._rows}} grid pr-12 h-100">
          <form method="post" name="" class="inline-block">
          {% for i in range(returnMatrices[ns1.matrix_counter]._cols) %}
            <div class="inline-block">
            {% for j in range(returnMatrices[ns1.matrix_counter]._rows) %}
              <input class="min-w-8 w-8" name="value{{i*3+j}} inline" value={{ returnMatrices[ns1.matrix_counter]._data[i][j] }}>
            {% endfor %}
            </div>
          {% endfor %}
          <input class="invis" type="submit">
          </form>
      {% set ns1.matrix_counter = ns1.matrix_counter + 1 %}
      {% elif obj_type == 'C' %}
        <div id="chartContainer_{{ns2.graphs_counter}}" class="grid grid-cols-{{returnGraphs | length}} grid-rows-2 w-full h-100 col-start-{{ns1.matrix_counter + ns2.graphs_counter}} pr-12">
          <script>
            handleGraph(({{returnGraphs[ns2.graphs_counter] | tojson}}))
          </script>
        </div>
        {% set ns2.graphs_counter = ns2.graphs_counter + 1 %}
      {% endif %}
    
      <div class="col-start-{{loop.index}} row-start-2 row-span-1 inline">
        {% for commentline in comments[loop.index0]%}
        <p>{{ commentline }}</p>
        {% endfor %} 
      </div>
      {% endfor %}
    
    
  </div>
</article>
</div>
  {%if session["order"] %}
  <div style="padding: 20px 0 20px 0">
    <a href={{url_for("state.previous")}} style="height: 50px; float: left; margin: 0 0 20px 0;">Previous</a>
    <a href={{url_for("state.next")}} style="float:right; height: 50px; margin: 0 20px 0 0;">Next</a>
  </div>
  {% endif %}
  
{% endblock %}

