{% extends 'base.html' %}

{% block header %}
  {% block title %}{{ session["name"] }}{% endblock %}
{% endblock %}

{% block content %}
    
    <article class="post w-full">
      <header>
        <div>
          <h1>Step {{session["current"] + 1}} </h1>
        </div>
      </header>
      <div class="grid grid-cols-3 grid-rows-2 w-full">
        {% for matrix in returnMatrices %}
        <div class="col-start-{{loop.index}} row-start-1 grid grid-cols-{{matrix._cols}} grid-rows-{{matrix._rows}} grid">
        <form method="post" name="" class="inline-block">
          {% for i in range(matrix._cols) %}
          <div class="col-start-{{i}} col-span-1 inline-block">
            {% for j in range(matrix._rows) %}
            <input class="w-{{(returnMatrices | length / matrix._cols * 10) | round | int}} min-w-8 row-start-{{j}} row-span-1" name="value{{i*3+j}} inline" value={{ matrix._data[i][j] }}>
            {% endfor %}
          </div>
    
          {% endfor %}
          <input class="invis" type="submit">
        </form>
        
      </div>
      <div class="col-start-{{loop.index}} row-start-2 row-span-1 inline"> {{ comment }} </div>
    
    
    
      
  
  {% endfor %}
  </div>
</article>
</div>
  {%if session["order"] %}
  <div style="padding: 20px 0 20px 0">
    <a href={{url_for("state.previous")}} style="height: 50px; float: left; margin: 0 0 20px 0;">Previous</a>
    <a href={{url_for("state.next")}} style="float:right; height: 50px; margin: 0 20px 0 0;">Next</a>
  </div>
  {% endif %}
  
{% endblock %}