<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
<nav class="grid-cols-6 grid-rows-3 bg-white w-full grid" id="nav" >

  <a href="/" class="col-start-1 col-end-1 row-start-1 row-end-1 w-1/6"><img src="{{url_for('static', filename='icon_try.png')}}" class="w-20 h-20 z-1"/></a>
  <a class="col-start-2 col-end-2 row-start-1 row-end-1 p-2 h-20 w-1/6 hover:bg-red-300 bg-white border-t-2 border-b-2 border-l-2 border-red-600 items-center flex justify-center"href="/">Home</a>
  

  <div class="col-start-3 col-end-3 w-1/6 row-start-1 row-end-1 p-2 h-20 grid hover:bg-red-300 bg-white border-t-2 border-b-2 border-l-2 border-red-600 items-center justify-center group relative">
    <a class="">Article</a>
    <ul class="left-0 top-full hidden absolute  group-hover:flex flex-col bg-white border-2 border-red-600 w-full">
        <li class="p-4 hover:bg-red-300"><a href="{{url_for('article.read', id=1)}}">Display Single</a></li>
        <li class="p-4 hover:bg-red-300"><a href="{{url_for('article.read')}}">Display All</a></li>
        <li class="p-4 hover:bg-red-300"><a href="{{url_for('article.create')}}">Create</a></li>
    </ul>
</div>
  
  <div class="col-start-3 col-end-3 w-1/6 row-start-1 row-end-1 p-2 h-20 grid hover:bg-red-300 bg-white border-t-2 border-b-2 border-l-2 border-red-600 items-center justify-center group relative">
    <a class="">State</a>
      <ul class="left-0 top-full hidden absolute  group-hover:flex flex-col bg-white border-2 border-red-600 w-full"> 
        <li class="p-4 hover:bg-red-300"><a href={{url_for('state.read', id=1)}}>Display</a></li>
        <li class="p-4 hover:bg-red-300"><a href={{url_for('state.create')}}>Create</a></li>
      </ul>
  </div>
  
 <div class="col-start-3 col-end-3 w-1/6 row-start-1 row-end-1 p-2 h-20 grid hover:bg-red-300 bg-white border-t-2 border-b-2 border-l-2 border-red-600 items-center justify-center group relative">
    <a class="">Matrix</a>
      <ul class="left-0 top-full hidden absolute  group-hover:flex flex-col bg-white border-2 border-red-600 w-full"> 
        <li class="p-4 hover:bg-red-300"><a href={{url_for('matrix.read')}}>Display</a></li>
        <li class="p-4 hover:bg-red-300"><a href={{url_for('matrix.create')}}>Create</a></li>
        <li class="p-4 hover:bg-red-300"><a href={{url_for('matrix.update', id=1)}}>Update</a></li>
      </ul>
  </div>

  <div class="col-start-3 col-end-3 w-1/6 row-start-1 row-end-1 p-2 h-20 grid hover:bg-red-300 bg-white border-2 border-red-600 items-center justify-center group relative">
    <a class="">Graph</a>
      <ul class="left-0 top-full hidden absolute  group-hover:flex flex-col bg-white border-2 border-red-600 w-full"> 
        <li class="p-4 hover:bg-red-300"><a href={{url_for('graph.showGraph', id=1)}}>Display</a></li>
        <li class="p-4 hover:bg-red-300"><a href={{url_for('graph.createGraph')}}>Create</a></li>
        <li class="p-4 hover:bg-red-300"><a href={{url_for('graph.updateGraphHTML', id=1)}}>Update</a></li>
      </ul>
  </div>
  
  <a class="flex-1/6 h-20 col-start-6 w-1/6 col-end-6"></a>
</nav>
<section class="content mt-10 grid grid-cols-{{cols_page}}" >
  <div class="text-4xl font-sans border-b-2 border-red-600 flex w-65 mb-4 pb-2 justify-center">
    {% block header %}{% endblock %}
  </div>
  {% for message in get_flashed_messages() %}
    {% if message is not none %}
    <div class="flash">{{ message }}</div>
    {% endif %}
  {% endfor %}
  <div class="w-full mb-10 col-start-1 col-span-3">
  {% block content %}{% endblock %}
  </div>

  <hr>
  
</section>