<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
<nav>
  <h1>Edu Proj</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    {% if message is not none %}
    <div class="flash">{{ message }}</div>
    {% endif %}
  {% endfor %}
  {% block content %}{% endblock %}
  <hr>
  <a class="flex-1/3 p-2 bg-gray-200 border-2 border-gray-500 flex items-center justify-center"href="/">Home</a>
</section>